<div class="container">
  <div class="item-input" [style.marginBottom]="'10px'">
    <label [style.marginRight]="'10px'" for="username">Add new user</label>
    <input id="username" type="text" [(ngModel)]="username" placeholder="user name" [style.marginRight]="'10px'"/>
    <button class="btn btn-primary btn-sm" (click)="addUser()">Add user</button>
  </div>
  <hr>
  <h4>Data from Reducer</h4>
  <div class="spinner-border text-primary" role="status" *ngIf="isLoading$ | async as isLoading; else dataContent">
    <span class="sr-only"></span>
  </div>
  <ng-template #dataContent>
    <div class="item" *ngFor="let u of (usersStore$ | async); let i = index">
      <span>{{ u.name }}</span>
      <div [style.display]="'flex'">
        <button class="btn btn-danger btn-sm" (click)="updateUser(u)">Update</button>&nbsp;
        <button class="btn btn-warning btn-sm" (click)="deleteUser(u)">Delete</button>
      </div>
    </div>
  </ng-template>
  <hr>
</div>
